.category__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.category__alert--success {
    background-color: #d1e7dd;
    color: #0f5132;
    padding: 10px 40px;
    margin-bottom: 20px;
    font-size: 14px
    text-align: left;
    width: 100%;
}

.category__alert--danger {
    background-color:#f8d7da;
    color: #842029;
    padding: 1px 40px;
    font-size: 14px;
    text-align: left;
    width: 100%;
    margin-top: 0px;
}

.create-form {
    display: flex;
    margin: 80px 0 0 100px;
}

.create-form__item input {
    width: 700px; /* Todoより少し長め */
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
}

.create-form__button-submit {
    width: 160px;
    height: 40px;
    margin-left: 60px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
}

.category-table__inner {
    width: 80%;
    margin: 40px 0 0 100px;
    border-collapse: collapse;
}

.category-table__header {
    text-align: left;
    font-size: 20px;
    padding-bottom: 10px;
}

.category-table__row {
    border-bottom: 1px solid #ccc;
}

.category-table__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.category-table__item-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
}

.category-table__item-input:focus {
    outline: none;    /* 青い枠線を消す */
    box-shadow: none; /* 影がついている場合も消す */
}

.update-form {
    display: flex; /* 入力欄と更新ボタンを横に並べる */
    flex: 1;       /* 左側のスペースをいっぱいに使う */
    align-items: center;
}

/* 更新・削除ボタン共通 */
.update-form__button-submit,
.delete-form__button-submit {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
}

.update-form__button-submit {
    background-color: #4b00ff; /* 青 */
    margin-right: 10px;
}

.delete-form__button-submit {
    background-color: #ff0000; /* 赤 */
    margin-right: 20px;
}

